<%= form_with model: comment, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :genre_id, "ジャンル" %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"card__genre"}) %>
  </div>

  <div class="field">
    <%= f.label :artwork, "名前" %><br />
    <%= f.text_field :artwork, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :evaluation_id, "評価" %><br />
    <%= f.collection_select(:evaluation_id, Evaluation.all, :id, :name, {}, {class:"card__evaluation"}) %>
  </div>

  <div class="field">
    <%= f.label :text, "本文" %><br />
    <%= f.text_area :text, class: :form__text__last %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>